*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.scannerwork/scanner-report/activerules.pb
.scannerwork/scanner-report/analysis-warnings.pb
.scannerwork/scanner-report/changesets-14.pb
.scannerwork/scanner-report/changesets-15.pb
.scannerwork/scanner-report/changesets-16.pb
.scannerwork/scanner-report/changesets-17.pb
.scannerwork/scanner-report/changesets-18.pb
.scannerwork/scanner-report/changesets-19.pb
.scannerwork/scanner-report/changesets-20.pb
.scannerwork/scanner-report/changesets-21.pb
.scannerwork/scanner-report/changesets-22.pb
.scannerwork/scanner-report/changesets-23.pb
.scannerwork/scanner-report/changesets-34.pb
.scannerwork/scanner-report/changesets-35.pb
.scannerwork/scanner-report/changesets-36.pb
.scannerwork/scanner-report/changesets-37.pb
.scannerwork/scanner-report/component-1.pb
.scannerwork/scanner-report/component-10.pb
.scannerwork/scanner-report/component-14.pb
.scannerwork/scanner-report/component-15.pb
.scannerwork/scanner-report/component-16.pb
.scannerwork/scanner-report/component-17.pb
.scannerwork/scanner-report/component-18.pb
.scannerwork/scanner-report/component-19.pb
.scannerwork/scanner-report/component-20.pb
.scannerwork/scanner-report/component-21.pb
.scannerwork/scanner-report/component-22.pb
.scannerwork/scanner-report/component-23.pb
.scannerwork/scanner-report/component-34.pb
.scannerwork/scanner-report/component-35.pb
.scannerwork/scanner-report/component-36.pb
.scannerwork/scanner-report/component-37.pb
.scannerwork/scanner-report/component-5.pb
.scannerwork/scanner-report/component-6.pb
.scannerwork/scanner-report/component-7.pb
.scannerwork/scanner-report/component-8.pb
.scannerwork/scanner-report/component-9.pb
.scannerwork/scanner-report/context-props.pb
.scannerwork/scanner-report/coverages-14.pb
.scannerwork/scanner-report/coverages-15.pb
.scannerwork/scanner-report/coverages-16.pb
.scannerwork/scanner-report/coverages-18.pb
.scannerwork/scanner-report/coverages-37.pb
.scannerwork/scanner-report/duplications-18.pb
.scannerwork/scanner-report/issues-14.pb
.scannerwork/scanner-report/issues-15.pb
.scannerwork/scanner-report/issues-16.pb
.scannerwork/scanner-report/issues-18.pb
.scannerwork/scanner-report/issues-37.pb
.scannerwork/scanner-report/measures-10.pb
.scannerwork/scanner-report/measures-14.pb
.scannerwork/scanner-report/measures-15.pb
.scannerwork/scanner-report/measures-16.pb
.scannerwork/scanner-report/measures-17.pb
.scannerwork/scanner-report/measures-18.pb
.scannerwork/scanner-report/measures-19.pb
.scannerwork/scanner-report/measures-20.pb
.scannerwork/scanner-report/measures-21.pb
.scannerwork/scanner-report/measures-22.pb
.scannerwork/scanner-report/measures-23.pb
.scannerwork/scanner-report/measures-34.pb
.scannerwork/scanner-report/measures-35.pb
.scannerwork/scanner-report/measures-36.pb
.scannerwork/scanner-report/measures-37.pb
.scannerwork/scanner-report/measures-5.pb
.scannerwork/scanner-report/measures-6.pb
.scannerwork/scanner-report/measures-7.pb
.scannerwork/scanner-report/measures-8.pb
.scannerwork/scanner-report/measures-9.pb
.scannerwork/scanner-report/metadata.pb
.scannerwork/scanner-report/source-10.txt
.scannerwork/scanner-report/source-14.txt
.scannerwork/scanner-report/source-15.txt
.scannerwork/scanner-report/source-16.txt
.scannerwork/scanner-report/source-17.txt
.scannerwork/scanner-report/source-18.txt
.scannerwork/scanner-report/source-19.txt
.scannerwork/scanner-report/source-20.txt
.scannerwork/scanner-report/source-21.txt
.scannerwork/scanner-report/source-22.txt
.scannerwork/scanner-report/source-23.txt
.scannerwork/scanner-report/source-34.txt
.scannerwork/scanner-report/source-35.txt
.scannerwork/scanner-report/source-36.txt
.scannerwork/scanner-report/source-37.txt
.scannerwork/scanner-report/source-5.txt
.scannerwork/scanner-report/source-6.txt
.scannerwork/scanner-report/source-7.txt
.scannerwork/scanner-report/source-8.txt
.scannerwork/scanner-report/source-9.txt
.scannerwork/scanner-report/symbols-14.pb
.scannerwork/scanner-report/symbols-15.pb
.scannerwork/scanner-report/symbols-16.pb
.scannerwork/scanner-report/symbols-18.pb
.scannerwork/scanner-report/symbols-37.pb
.scannerwork/scanner-report/syntax-highlightings-10.pb
.scannerwork/scanner-report/syntax-highlightings-14.pb
.scannerwork/scanner-report/syntax-highlightings-15.pb
.scannerwork/scanner-report/syntax-highlightings-16.pb
.scannerwork/scanner-report/syntax-highlightings-17.pb
.scannerwork/scanner-report/syntax-highlightings-18.pb
.scannerwork/scanner-report/syntax-highlightings-19.pb
.scannerwork/scanner-report/syntax-highlightings-20.pb
.scannerwork/scanner-report/syntax-highlightings-21.pb
.scannerwork/scanner-report/syntax-highlightings-22.pb
.scannerwork/scanner-report/syntax-highlightings-23.pb
.scannerwork/scanner-report/syntax-highlightings-34.pb
.scannerwork/scanner-report/syntax-highlightings-35.pb
.scannerwork/scanner-report/syntax-highlightings-36.pb
.scannerwork/scanner-report/syntax-highlightings-37.pb
.scannerwork/scanner-report/syntax-highlightings-5.pb
.scannerwork/scanner-report/syntax-highlightings-6.pb
.scannerwork/scanner-report/syntax-highlightings-7.pb
.scannerwork/scanner-report/syntax-highlightings-8.pb
.scannerwork/scanner-report/syntax-highlightings-9.pb
.scannerwork/ucfg2/java/ucfg_0.proto
.scannerwork/ucfg2/java/ucfg_1.proto
